.element {
  width: 50vw;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 2fr 1fr;
  align-items: center;

  img {
    width: 2.5vw;
    height: 2.5vw;
  }
}

.green {
  color: green;
}

.red {
  color: red;
}