.search-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 27vw;
  position: relative;
}

.list {
  padding: 0;
  width: 27vw;
  min-height: 2.5em;
  max-height: 10em;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  border-radius: 8px;
  top: 2.5em;
  background-color: #f9f9f9;
  transition: hight 2s;
}

button, input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}

button {
  cursor: pointer;
}

input {
  outline: 0;
}

button:hover, input:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30vw;
  padding: 0.3em;
  cursor: pointer;
  border: 1px solid transparent;
}

.element:hover {
  border: #646cff solid 1px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #C2C2C2;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-color-scheme: light) {
  button, input {
    background-color: #f9f9f9;
  }
}