.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 6em;
}

footer {
  position: absolute;
  bottom: 0;
  opacity: 0.25;
  font-size: 0.8em;
}